.Nav {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  font-size: 20px;
  & > * {
    width: 100px;
  }
}

.container {
  border-bottom: 1px solid grey;
}

.cart {
  &_container {
    display: flex;
  }

  &_icon {
    align-self: center;
    margin-left: 5px;
    margin-right: 3px;
  }
}
